.cuerpo a {
    max-width: 20%;
    padding: 0.25em 0.25em;
    margin: 1em;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: var(--cf-principal);
}

.cuerpo a:hover {
    background-color: var(--cf-principal-contraste-1);
    cursor: pointer;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}